@page
@model RegisterModel


<link rel="stylesheet" href="~/css/special.css" asp-append-version="true" />






        <div class="row">
            <div class="col-md-6 mx-auto p-0">
                <div class="login-box">
                    <div class="login-snip">
                        <label class="tab text-white">Register</label>
                        <div class="login-space">

                            <form id="account" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="login">
                                    <div class="group">
                                        <input asp-for="Input.Email" class="input" placeholder="Enter your email" />
                                        <label asp-for="Input.Email" type="text" class="label" />
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </div>
                                    <div class="group">
                                        <input asp-for="Input.FirstName" class="input" placeholder="Enter your first name" />
                                        <label asp-for="Input.FirstName" type="text" class="label" />
                                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                                    </div>

                                    <div class="group">
                                        <input asp-for="Input.LastName" class="input" placeholder="Enter your last name" />
                                        <label asp-for="Input.LastName" class="label" />
                                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                                    </div>

                                    <div class="group">
                                        <input asp-for="Input.PhoneNumber" class="input" placeholder="Enter your phone number" />
                                        <label asp-for="Input.PhoneNumber" class="label" />
                                        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                                    </div>

                                    <div class="group">
                                        <input asp-for="Input.Password" class="input" placeholder="Enter your password" />
                                        <label asp-for="Input.Password" class="label" />
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                                    </div>
                                    <div class="group">
                                        <input asp-for="Input.ConfirmPassword" class="input" placeholder="Confirm Password" />
                                        <label asp-for="Input.ConfirmPassword" cite="label" />
                                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                    </div>
                                    <div class="group">

                                        <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
